@import controllers.CustomerContractController.getCar
@import controllers.CustomerContractController.dateToString
@(customerContract: CustomerContract,
        totalUnitPrice: Int,
        totalPrice: Int,
        restPrice: Int
)

@MainView("Thông tin hợp đồng") {
    <div class="container">
        <div class="breadcrumb" style="margin-top: 30px;">
            Thanh lý hợp đồng
        </div>
        <div>
            <h4>Thông tin khách hàng</h4>
            <div style="display: flex;">
                <div>
                    <label>Tên khách hàng: </label>
                    <span>@customerContract.getCustomer().getFullName()</span>
                </div>
                <div style="margin-left: 50px;">
                    <label>Địa chỉ: </label>
                    <span>@customerContract.getCustomer().getAddress()</span>
                </div>
            </div>
        </div>
        <div>
            <h4>Thông tin hợp đồng</h4>
            <div style="display: flex;">
                <div>
                    <label>Mã hợp đồng: </label>
                    <span>HDT<span id="customerContractID">@customerContract.getCustomerContractID()</span></span>
                </div>
                <div style="margin-left: 50px;">
                    <label>Ngày thuê: </label>
                    <span>@dateToString(customerContract.getStartDate())</span>
                </div>
                <div style="margin-left: 50px;">
                    <label>Ngày trả dự kiến: </label>
                    <span>@dateToString(customerContract.getEndDate())</span>
                </div>
            </div>
            <div style="display: flex;">
                <div>
                    <label>Đơn giá: </label>
                    <span>@{totalUnitPrice}Đ/ngày</span>
                </div>
                <div style="margin-left: 50px;">
                    <label>Thành tiền: </label>
                    <span>@{totalPrice}Đ</span>
                </div>
                <div style="margin-left: 50px;">
                    <label>Tiền cọc đã nhận: </label>
                    <span>@{customerContract.getDepositMoney}Đ</span>
                </div>
                <div style="margin-left: 50px;">
                    <label>Số tiền còn lại phải trả: </label>
                    <span id="totalMoney">@{restPrice}</span>Đ
                </div>
            </div>
            <div>
                <label for="#">Danh sách các tài sản đảm bảo: @if(customerContract.getListDepositItem().isEmpty){ Không có }</label>
                <ul>
                    @for(depositItem <- customerContract.getListDepositItem()) {
                        <li>@depositItem.getDescription()</li>
                    }
                </ul>
            </div>
        </div>
        <div>
            <h5>Thông tin xe: </h5>
            <table class="table table-bordered table-collapse">
                <thead>
                    <tr>
                        <th class="text-center" width="10%">Mã xe</th>
                        <th class="text-center">Tên xe</th>
                        <th class="text-center">Biển số</th>
                        <th class="text-center">Dòng xe</th>
                        <th class="text-center">Hãng xe</th>
                        <th class="text-center">Đời xe</th>
                        <th class="text-center">Đơn giá(VNĐ/Ngày)</th>
                        <th class="text-center">Trạng thái</th>
                    </tr>
                </thead>
                <tbody>
                    @for(contractCar <- customerContract.getListCustomerContractCar()) {
                        <tr>
                            <td>CAR@getCar(contractCar).getCarID()</td>
                            <td>@getCar(contractCar).getCarName()</td>
                            <td>@getCar(contractCar).getLicense()</td>
                            <td>@getCar(contractCar).getLineCar().getLineCarName()</td>
                            <td>@getCar(contractCar).getBrandCar().getBrandCarName()</td>
                            <td>@getCar(contractCar).getVersion()</td>
                            <td class="text-right">@contractCar.getUnitPrice()</td>
                            <td>@contractCar.getStatusCar()</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div>
            <h5>Thêm hỏng hóc: </h5>
            <table id="failureTable" class="table table-bordered">
                <thead>
                    <th class="text-center" width="30%">Xe</th>
                    <th class="text-center" width="40%">Mô tả</th>
                    <th class="text-center" width="20%">Đền bù(VNĐ)</th>
                    <th class="text-center"></th>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center" colspan="4">Không có hỏng hóc</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr id="compensateTotalMoneyRow" style="display: none;">
                        <td colspan="2" style="border: none;"></td>
                        <td colspan="2">Tổng tiền: <span id="compensateTotalMoney"></span></td>
                    </tr>
                </tfoot>
            </table>
            <form id="failureForm" action="#">
                <div style="display: flex; width: 90%;">
                    <div style="flex-grow: 1;">
                        <h6>Chọn xe:</h6>
                        <select name="contractCarID" id="contractCarID" class="form-control">
                            <option value=""></option>
                            @for(contractCar <- customerContract.getListCustomerContractCar()) {
                                <option value="@contractCar.getCustomerContractCarID()">
                                    @getCar(contractCar).getLicense() : @getCar(contractCar).getCarName()
                                </option>
                            }
                        </select>
                    </div>
                    <div style="flex-grow: 1; margin-left: 15px;">
                        <h6>Mô tả:</h6>
                        <textarea name="description" id="description" cols="30" rows="3" class="form-control"></textarea>
                    </div>
                    <div style="flex-grow: 1; margin-left: 15px;">
                        <h6>Chi phí đền bù:</h6>
                        <input id="compensateMoney" name="compensateMoney" type="number" class="form-control">
                    </div>
                    <div>
                        <button id="addFailure" type="button" class="btn btn-success" style="margin-top: 27px; margin-left: 15px;">Thêm</button>
                    </div>
                </div>
            </form>
        </div>
        <div style="border: 1px solid black; margin: 15px 0;"></div>
        <div class="text-center" style="margin: 15px 0; position: relative;">
            <div style="position: absolute; left: 15px;">
                <h5>Tổng tiền cần thanh toán: <span id="totalMoneyFinal">@{restPrice}</span>Đ</h5>
            </div>
            <a href="@routes.CustomerContractController.showListCustomerContractUnpaid()" class="btn btn-secondary">Huỷ bỏ</a>
            <button id="contractSubmit" type="submit" class="btn btn-primary" style="margin-left: 15px;">Xác nhận</button>
        </div>
    </div>
}