@import java.util.List
@import java.text.SimpleDateFormat
@import controllers.CustomerContractController.dateToString
@(customerContracts: List[CustomerContract])

@MainView("Danh sách hợp đồng chưa thanh lý") {

    <div class="container">
        <div class="breadcrumb" style="margin-top: 30px;">
            Danh sách các hợp đồng thuê xe chưa thanh lý
        </div>
        <table class="table table-bordered table-collapse">
            <thead>
                <tr>
                    <th width="8%"></th>
                    <th class="text-center" width="15%">Mã hợp đồng</th>
                    <th class="text-center">Tên khách hàng</th>
                    <th class="text-center">Ngày thuê</th>
                    <th class="text-center">Ngày trả</th>
                </tr>
            </thead>
            <tbody>
                @for(customerContract <- customerContracts) {
                    <tr>
                        <td><a href="@{routes.CustomerContractController.showCustomerContractUnpaid(customerContract.getCustomerContractID)}">Thanh lý</a></td>
                        <td>HDT@{customerContract.getCustomerContractID()}</td>
                        <td>@{customerContract.getCustomer().getFullName()}</td>
                        <td>@{dateToString(customerContract.getStartDate())}</td>
                        <td>@{dateToString(customerContract.getEndDate())}</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

}